:root {

    --primary: #570df8ff;
    --primary-focus: #4406ccff;
    --secondary: #f000b8ff;
    --secondary: #c00093ff;
    --accent: #38cdbeff;
    --neutral: #3d4451ff;
    --neutral: #313641ff;

    --sunny-gr2: #FFA751;
    --sunny-gr1: #FFE259;
    --dark-gr1: #EBD790;
    --dark-gr2: #146C7E;
    --cloudy-gr2: #3A7BD4;
    --cloudy-gr1: #5494E0;
    --wind-gr2: #888DF5;
    --wind-gr1: #46ADF0;
    --show-gr2: #66C2FB;
    --show-gr1: #BEE0F2;

    --base-100: #ffffff;
    --base-200: #e5e6e6ff;
    --base-300: #e5e6e6;
}