.home {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    &.--sunny {
        background: linear-gradient(0deg, var(--sunny-gr1) 0%, var(--sunny-gr2) 100%);
    }

    &.--dark {
        background: linear-gradient(0deg, var(--dark-gr1) 0%, var(--dark-gr2) 100%);
    }

    &.--cloudy {
        background: linear-gradient(0deg, var(--cloudy-gr1) 0%, var(--cloudy-gr2) 100%);
    }

    &.--wind {
        background: linear-gradient(0deg, var(--wind-gr1) 0%, var(--wind-gr2) 100%);
    }

    &.--show {
        background: linear-gradient(0deg, var(--show-gr1) 0%, var(--show-gr2) 100%);
    }


    .container {
        width: 100%;
        margin: 0 auto;
    }

    .heading {
        text-align: center;
    }

    .swiper_container {
        padding: 2rem 0;
        position: relative;
    }

    .swiper-slide {
        width: 320px;
        height: 430px;
        position: relative;
    }

    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
        display: none;
    }

    .swiper-pagination-bullet {
        background-color: #fff;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: rgb(0 0 0 / 15%) 0px 4px 10px;
        background-color: #fff;
    }

    .swiper-button-prev:after,
    .swiper-button-next::after {
        font-size: 18px;
        color: #000;
    }

}