.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;

    &__menu {}

    &__name {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__location {
        min-width: 200px;
        display: flex;
        align-items: center;
        color: var(--base-100);
    }

    &__name span {
        color: var(--primary);
    }
}