.sidebar {
    position: fixed;
    right: 0;
    bottom: 0;
    height: calc((100% - 0px));
    width: 450px;
    z-index: 10;
    background: var(--base-100);
    padding: 30px;
    transform: translate3d(450px, 0, 0);
    transition: transform 0.3s;


    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &.--open {
        transform: translate3d(0, 0, 0);
        transition: transform 0.3s;
    }
}

.sidebar__title {

    &__right {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;
    }

    &__right span {
        color: var(--primary);
    }

    &__right span.github {
        margin-left: 10px;
    }
}

.sidebar__body {
    height: 100%;

    &__header {
        width: 100%;
    }

    &__cities__body {
        overflow-y: auto;
        display: grid;
        height: 10%;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }

    &__cities__title {
        width: 100%;
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 15px;
    }
}

.sidebar__body__header {
    .btn {
        margin-left: 10px;
        margin-bottom: 40px;
    }

    .inputContainer {
        margin-bottom: 40px;
    }

    &__submit {
        display: flex;
        align-items: center;
    }
}


@media screen and (max-device-width: 768px) {
    .sidebar {
        width: 100%;
        display: none;

        &.--open {
            width: 100%;
            display: block;
            transform: none;
        }
    }
}