.sidebar {
    position: fixed;
    right: 0;
    bottom: 0;
    height: calc((100% - 0px));
    width: 450px;
    z-index: 10000;
    background: var(--base-200);
    padding: 30px;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s;


    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &.--open {
        transform: translate3d(450px, 0, 0);
        transition: transform 0.3s;
    }
}

.sidebar__title {

    &__right {
        font-size: 1.2rem;
        font-weight: bold;
    }

    &__right span {
        color: var(--primary);
    }
}